# Local dependencies
node_modules
vendor

# Environment-specific files
.env
.env.backup
.env.production
.env.local
.env.testing

# Git files
.git
.gitignore
.github

# Build artifacts
public/build
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

# IDE configs
.idea
.vscode

# Docker files
Dockerfile
docker-compose*.yml

# Others
tests
readme.md
phpunit.result.cache
